@layer base {
  :root {
    --color-blue-50: #f2f8fd;
    --color-blue-100: #e4eefa;
    --color-blue-200: #c2ddf5;
    --color-blue-300: #8dc1ec;
    --color-blue-400: #50a3e0;
    --color-blue-500: #2987ce;
    --color-blue-600: #1d6db6;
    --color-blue-700: #17558d;
    --color-blue-800: #174975;
    --color-blue-900: #183e62;
    --color-blue-950: #102741;

    /*Gray*/
    --color-gray-50: #f6f6f6;
    --color-gray-100: #e7e7e7;
    --color-gray-200: #d1d1d1;
    --color-gray-300: #b0b0b0;
    --color-gray-400: #888888;
    --color-gray-500: #6d6d6d;
    --color-gray-600: #5d5d5d;
    --color-gray-700: #4f4f4f;
    --color-gray-800: #454545;
    --color-gray-900: #3d3d3d;
    --color-gray-950: #131313;
    /* Design Colors */
    --color-selago: #f4f4fe;
    --color-trout: #4e5566;
    --color-manatee: #8c94a3;
    --color-shark: #1d2026;
    --color-cod-gray: #1d1d1d;
    --color-athens-gray: #e9eaf0;
    --color-storm-gray: #6e7485;
    --color-catskill-white: #f5f7fa;
    --color-forest-green: #23bd33;
    --color-tree-poppy: #fd8e1f;
    --color-red-orange: #ff3a3a;
  }
}

.text-red-orange {
  color: var(--color-red-orange);
}

.bg-red-orange {
  background-color: var(--color-red-orange);
}

.bg-red-orange\/10 {
  background-color: rgba(255, 58, 58, 0.1);
}

.text-tree-poppy {
  color: var(--color-tree-poppy);
}

.bg-tree-poppy {
  background-color: var(--color-tree-poppy);
}

.bg-tree-poppy\/10 {
  background-color: rgba(253, 142, 31, 0.1);
}

.text-forest-green {
  color: var(--color-forest-green);
}

.bg-forest-green {
  background-color: var(--color-forest-green);
}

.bg-forest-green\/10 {
  background-color: rgba(35, 189, 51, 0.1);
}

.bg-catskill-white {
  background-color: var(--color-catskill-white);
}

.text-catskill-white {
  color: var(--color-catskill-white);
}

input[type="search"]::placeholder {
  color: rgba(140, 148, 163, 1);
  font-size: 16px;
}

.border-athens-gray {
  border-color: rgba(233, 234, 240, 1);
}

.text-storm-gray {
  color: var(--color-storm-gray);
}

.bg-storm-gray {
  background-color: var(--color-storm-gray);
}

.text-selago {
  color: var(--color-selago);
}

.text-trout {
  color: var(--color-trout);
}

.text-manatee {
  color: var(--color-manatee);
}

.text-shark {
  color: var(--color-shark);
}

.text-cod-gray {
  color: var(--color-cod-gray);
}

.bg-selago {
  background-color: var(--color-selago);
}

.bg-trout {
  background-color: var(--color-trout);
}

.bg-manatee {
  background-color: var(--color-manatee);
}

.bg-shark {
  background-color: var(--color-shark);
}

.bg-cod-gray {
  background-color: var(--color-cod-gray);
}

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sidebar__item {
  transition: all 0.3s ease;
}

.sidebar__icon path {
  stroke: #838383;
  fill: white;
}

.sidebar__item:hover .sidebar__icon path {
  stroke: var(--color-blue-700);
  fill: white;
}

li::marker {
  content: none;
  display: none;
}
