mixin primaryButton(title, customClass)
    button(
        type="button"
        class="text-white bg-blue-600 hover:bg-blue-700 cursor-pointer focus:ring-4 focus:ring-blue-200 font-medium rounded-xl text-sm px-6 py-2.5     focus:outline-none  #{customClass}"
    )
        | #{title}