mixin statCard(title, description, icon, backgroundColor)
    div(class="flex gap-4 block max-w-sm p-6 bg-white border border-gray-200 rounded-xl shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700")
        div(class="flex flex-col gap-1")
            h5(class="text-2xl font-medium tracking-tight text-[#1D2026] dark:text-white")= title
            p(class="text-[#4E5566] font-normal text-gray-500 dark:text-gray-400")= description
        div(
            style=`background-color: ${backgroundColor}`
            class="flex items-center justify-center w-12 h-12 p-3 text-[#1D2026] rounded-lg dark:bg-[#1D2026] dark:text-[#F0F4FF]"
        )
            != icon
